<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple WebRTC</title>
  </head>

  <body>
    <textarea id="status" rows="2" cols="80"></textarea>
    <button type="button" id="offer">Create Offer</button>
    <button type="button" id="receive">Receive Offer</button>
    <textarea id="offerText" rows="8" cols="80"></textarea>
    <button type="button" id="answer">Create Answer</button>
    <button type="button" id="ranswer">Set Answer</button>
    <textarea id="answerText" rows="8" cols="80"></textarea>
    <button type="button" id="sendData">Send Data</button>
    <textarea id="data" rows="8" cols="80"></textarea>
  </body>
  <script src="/view/index.js" charset="utf-8"></script>
</html>
